# ==================================
# Node.js & Backend specific files
# ==================================
# Node dependency directory
/backend/node_modules

# Project-specific files and logs
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/pids/
/backend/logs/

# Database files
/backend/*.db
/backend/*.db-journal

# ==================================
# Python & AI Server specific files
# ==================================
# Virtual environment
/ai_server/venv/

# Compiled Python files
/ai_server/__pycache__/
/ai_server/*.pyc
/ai_server/*.pyo
/ai_server/app/__pycache__/
/ai_server/app/routes/__pycache__/

# ==================================
# General & OS files
# ==================================
# IDE and editor settings
.vscode/
.idea/

# Environment variables
.env
.flaskenv

# Operating system files
.DS_Store
Thumbs.db